<section>
	<header>
		<h1><%= @service_language.language %> </h1>
	</header>
	<p><%= @service_language.slug %></p>
	<div><%= raw @service_language.description %></div>
	<div><%= raw @service_language.content %></div>
	<p><%= link_to "Edit", :action => "edit", slug: @service_language.slug %></p>
</section>