<setion>
	<header>
		<h1>Gallery <%= @gallery.id %></h1>
	</header>
	<div>
		<%= form_for @gallery_language do |f| %>
			<% if @gallery_language.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@gallery_language.errors.count, "error") %>
					prohibited this gallery from being saved:</h2>
					<ul>
						<% @gallery_language.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<%= f.hidden_field :gallery_id %>
			<p>
				<%= f.label :language  %> <br/>
				<select name="gallery_language[language]", id="gallery_language_language">
				  <option>en</option>
				  <option>fr</option>
				</select>
			</p>
			<p>
				<%= f.text_field :slug %>
				<%= show_field_error(@gallery_language, :slug) %>
			</p>
			<p>
				<%= f.text_area :description, cols: 40 %>
				<%= show_field_error(@gallery_language, :description) %>
			</p>
			<p><%= f.submit "Submit", :disable_with => 'Submiting...' %></p>
		<% end %>
	</div>
</setion>