<header id="header">
	<div id='lang-user'>
		<span><%= language_selector %></span>|||
		<span>
			<% if current_user %>
				Welcome <%= current_user %> <%= link_to I18n.t("menu.log_out"), log_out_path %>
			<% else %>
				<%= link_to t('menu.log_in'), log_in_path %> <span>or</span>
				<%= link_to I18n.t('menu.password_forgoten'), forgot_password_path %>
			<% end %>
		</span>
		
	</div>
	<div id="logo">
		<span>
			<%= link_to "<span>la-deco</span><span id='plus'>+</span>".html_safe, root_path %>
		</span>
	</div>
</header>